<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="container blue darken-4">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <h3 class="center orange-text">LOGIN</h3>
    <div class="container" style="padding-top: 5%;">
        <div class="card">
            <div class="card-content center">
                <div class="row">
                    <div class="input-field container">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field container">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit" class="btn yellow black-text" id="login">LOGIN</button>
            </div>
        </div>
    </div>
    <script>
         $("#login").click(function(e){
            e.preventDefault();
            $.ajax({
                type : "POST",
                url : "/users/login",
                data : {
                    username : $("#username").val(),
                    password : $("#password").val()
                },
                success : function(data) {
                    console.log(data);
                    if(data.success)
                        window.location.href = "/question";
                    else
                        console.log(data);
                },
                error : function() {
                    console.log("ERROR");
                }
            });
        });
    </script>
</body>

</html>