//- <!DOCTYPE html>
//- <html>

//- <head>
//- 	<!-- Compiled and minified CSS -->
//- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
//- </head>

//- <body>
//- 	<!-- Compiled and minified JavaScript -->
//- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
//- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

//- 	<script>
//- 		document.addEventListener('DOMContentLoaded', function () {
//- 			var elems = document.querySelectorAll('select');
//- 			var instances = M.FormSelect.init(elems, options);
//- 		});

//- 		// Or with jQuery

//- 		$(document).ready(function () {
//- 			$('select').formSelect();
//- 		});
//- 	</script>

//- 	<div class="input-field col s12">
//- 		<select>
//- 			<option value="" disabled selected>Choose your option</option>
//- 			<option value="1">Option 1</option>
//- 			<option value="2">Option 2</option>
//- 			<option value="3">Option 3</option>
//- 		</select>
//- 		<label>Materialize Select</label>
//- 	</div>

//- </body>

//- </html>