<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="container blue">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <h3 class="center orange-text">REGISTER</h3>
    <div class="container" style="padding-top: 5%;">
        <div class="card">
            <div class="card-content center">
                <div class="row">
                    <div class="input-field container">
                        <input  id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field container">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field container">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit" class="btn blue" id="register">REGISTER</button>
            </div>
        </div>
    </div>
    <script>
        $("#register").click(function(e){
            e.preventDefault();
            $.ajax({
                type : "POST",
                url : "/users/register",
                data : {
                    name : $("#name").val(),
                    username : $("#username").val(),
                    password : $("#password").val()
                },
                success : function(data) {
                    console.log("SUCCESS");
                    window.location.href = "/users/login";
                },
                error : function() {
                    console.log("ERROR");
                }
            });
        });
    </script>
</body>

</html>